td {
    height: 8vh;
    width: 4vw;
    text-align: center;
}

.select{
    margin-left : 1vw;
    width: auto;
    height: auto;
}
input {
    height: 100%;
    width: 100%;
}
divClass {
    height: 100%;
    width: 100%;
}